<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="../css/dialog1.css">
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<!-- 提示框 -->
	<div id="alert">
		<transition name="fade">
			<my-dialog v-on:close="close" :style="style" v-if="show">
				<p v-html="info"></p>
			</my-dialog>
		</transition>
	</div>
	<div id="particles-js"></div>
	<div id="form">
	<options v-on:a="showLogin" v-on:b="showRegister"></options>
		<login v-if="show"></login>
		<register v-else></register>
	</div>
</body>
<script src="../js/util.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/jquery-3.1.0.js"></script>
<script src="../js/particles.min.js"></script>
<script src="../js/canvas-background.js"></script>
<script src="../js/stopExecutionOnTimeout.js"></script>
<script src="../js/dialog1.js"></script>
<script src="../js/login.js"></script>
</html>

