<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<title>organization</title>
	<link rel="stylesheet" type="text/css" href="../css/dialog1.css">
	<link rel="stylesheet" type="text/css" href="../css/organization.css">
</head>
<body>
	<!-- 提示框 -->
	<div id="alert">
		<transition name="fade">
			<my-dialog v-on:close="close" :style="style" v-if="show">
				<p v-html="info"></p>
			</my-dialog>
		</transition>
	</div>

	<div id="nav">
    	<my-nav></my-nav>
    </div>

    <div id="tree">
		<tree v-for="(item,index) in day" :time = "item"> 
			<one-day :time="item.time"></one-day>
			<component v-for="item in item.message" :is="item.name" :item="item" >
		</tree>
	</div>
	<div id="goTop"></div>
	
</body>
<script src="../js/util.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/dialog1.js"></script>
<script src="../js/jquery-3.1.0.js"></script>
<script src="../js/organization.js"></script>
</html>