	#alert{
	}
	#dialog{
		position: absolute;
		width: 500px;
		top: 20%;
		left: -250px;
		margin-left: 50%;
		z-index: 9000;
		border: 5px solid #2196f3;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	    overflow: hidden;
	}
	#dialog-title{
		position: relative;
    	height: 45px;
    	border-bottom: 4px solid #badee2;
    	background-color: white;
    	cursor: move;
	}
	#dialog-title i{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 15px;
		cursor: pointer;
	}
	#dialog-content{
		padding: 0.1px;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    background-color: #e8eff3;
	    overflow: auto;
	}
	#dialog-content input[type='button']{
		position: absolute;
		bottom: 4px;
		right: 20px;
		cursor: pointer;
		z-index: 9000;
	}
	#dialog-content .center{
		margin-top: 18%
	}

	.fade-enter-active, .fade-leave-active {
	  	transition: all .8s
	}
	#alert .fade-enter, #alert .fade-leave-active {
		left: 0;
		margin-left: 0;
	  	opacity: 0;
		width: 100px;
		height: 0;
	}
