body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "SimHei","MicroYahei",sans-serif;
    background: url(../images/homepage-background.jpg) no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
input[type='button']{
    cursor: pointer;
}

/**
 * 导航栏
 */
ul{
    list-style-type: none;
    float: right;
    margin-top: 5px
}
li{
    text-align: center;
    display: inline-block;
}
#nav{
    position: fixed;
    z-index: 5;
    width: 100%;
    margin-top: -19px;
    height: 58px;
    background-color: white;
    border-bottom: 10px solid #195fa0;
}
#nav .logo{
    display: inline-block;
    margin: 10px 10px 10px 16px;
    width: 27px;
    height: 27px;
}
#nav .page-logo{
    display: inline-block;
    width: 305px;
    height: 58px;
    background: url(../images/pagelogo2.png) no-repeat;
    background-size: 273px;
    background-position-x: 17px;
    cursor: pointer;
    background-color: #2283c8;
}
#nav .bell-logo{
    background: url(../images/bell.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#nav .close-logo{
    background: url(../images/close.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#nav .back-logo{
    background: url(../images/back.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#nav .head_img{
    border: 2px solid #6c9aa8;
    border-radius: 50%;
}
#nav .username{
    position: relative;
    margin-right: -11px;
    bottom: 15px;
    font-size: 25px;
    color: #6c9aa8;
}
#nav .at{
    position: relative;
    top: 1px;
}

#nav .border-left{
    background: url(../images/border-left2.png) no-repeat center left;
    background-size: 5px;
}

/**
 * homework
 */
#homework{
    position: relative;
    margin: auto;
    margin-top: 53px;
    min-width: 900px;
    width: 60%;
    background-color: white;
    border: 1px solid white;
    padding-bottom: 200px;
}

/**
 * question
 */
#question{
    position: relative;
}
#question .qs_title{
    font-size: 52px;
    font-weight: bold;
    margin: 20px 0 0 9px;
    color: #3e87d3;
}
#question .qs_time{
    margin: 5px 0px 11px 12px;
    font-size: 20px;
    font-weight: bold;
    color: #4a8dd6;
}
#question input{
    position: absolute;
    top: 46px;
    right: 1.6%;
    width: 139px;
    height: 40px;
    border: 0;
    background-color: #2d7bcd;
    color: white;
    font-size: 23px;
    font-weight: bold;
}
#question .qs_mark{
    display: block;
    margin: auto;
    width: 95%;
    height: 250px;
    font-family: "SimHei","MicroYahei",sans-serif;
    resize: none;
    text-indent: 14px;
    padding: 5px 12px;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 2px;
    border: 1px solid #978e8e;
}

/**
 * markdown
 */
#markdown{
    width: 100%;
    padding: 12px;
    margin: auto;
    min-width: 600px;
    box-sizing: border-box;
}
#markdow_write{
    position: relative;
}
#markdown .discussion-timeline{
    float: none;
    width: inherit;
}
#markdown .container{
    width: 100%;
    margin: 0
}
#markdown .timeline-new-comment{
    max-width: none;
}
#markdown .timeline-comment-wrapper{
    padding-left: inherit;
}
#markdown #issue_body{
    resize: none;
}

/**
 * grade
 */
#grade{
    width: 98%;
    margin: auto;
    margin-bottom: 23px;
    overflow: hidden;
    border: 1px solid #c1c1c1;
}
#score{
    float: left;
    width: 25%;
    height: 164px;
    text-align: center;
    border-right: 2px solid #c1c1c1;
}
#score i{
    position: relative;
    top: 35px;
    color: #2c7bcd;
    font-size: 116px;
}
#score p{
    position: relative;
    top: -56px;
    color: white;
    font-size: 41px;
    font-weight: bold;
}
#twig{
    float: left;
    height: 164px;
    width: 49%;
    border-right: 2px solid #c1c1c1;
}
#twig .mg{
    margin: 11px 0 0 0;
}
#twig .tip{
    width: 135px;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: #2c7bcd;
    text-align: center;
}
#twig .border{
    display: inline-block;
    width: 67%;
    height: 23px;
}
#twig .percent{
    display: inline-block;
    width: 1px;
    background-color: #2c7bcd;
    height: 21px;
}
#star{
    position: relative;
    float: left;
    width: 25%;
}
#star p{
    margin: 41px 0 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}

/**
 * rating
 */
#rating{
    display: inline-block;
    position: absolute;
    left: 12px;
    top: -0.5px;
    z-index: 1;
}
#rating i{
    float: right;
    padding: 0 5px;
    cursor: pointer;
    color: #bbbbb6;
}
#rating .light{
    color: #ffef19;
}
#wrap{
    position: relative;
    width: 211px;
    margin: auto;
    margin-top: 5%;
}
#test{
    display: inline-block;
}
#rating i{
    color: #2c7bcd;
}

/**
 * comment
 */
#comment{
    margin: auto;
    width: 98%;
    border: 1px solid #bbbbbb;
}
#write{
    position: relative;
}
#write textarea{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 71px;
    width: 97%;
    height: 160px;
    resize: none;
    text-indent: 14px;
    padding: 5px 12px;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 2px;
}
#write span{
    position: absolute;
    right: 104px;
    top: 183px;
    font-size: 20px;
}
#write input{
    position: absolute;
    right: 1.5%;
    top: 177px;
    width: 70px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #f55d1b;
    border: 0;
}
#comments{
    width: 97%;
    margin: auto;
}
#comments .remark span{
    display: inline-block;
    width: 93%;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid #7eb7f3;
}
#comments .remark img{
    position: relative;
    top: 10px;
    margin-right: 5px;
    border: 2px solid #4897e8;
    border-radius: 5px;
}
#comment .remark .ct{
    padding: 10px 32px;
    margin: 10px 0 0 0;
    font-size: 22px;
    text-indent: 12px;
    font-weight: bold;
}
#comment .replay{
    margin-left: 66px;
}
#comment .item span{
    font-size: 22px;
    font-weight: bold;
    color: black;
}
#comment .item{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #757171;
}
#comment .item .rp{
    bottom: 0;
    height: 23px;
    font-size: 17px;
}
#comment .one_comment{
    position: relative;
}
#comment .one_comment textarea{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 71px;
    width: 92%;
    height: 60px;
    resize: none;
    text-indent: 7px;
    padding: 5px 12px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    transition: .8s height ease;
}
#comment .one_comment input{
    position: absolute;
    right: 4%;
    bottom: -41px;
    width: 56px;
    height: 29px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #2d7bcd;
    border: 0;
}

/**
* allAnswer
*/
#allAnswer{
    position: absolute;
    right: -21%;
    top: 6px;
    width: 20%;
    background-color: #f3f3f3;
    border-radius: 7px;
    padding-bottom: 13px;
}
#allAnswer #list{
    max-height: 327px;
    overflow: auto;
}
#allAnswer .atitle{
    font-size: 26px;
    text-align: center;
    padding: 8px;
    background-color: #70a4f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#allAnswer .aname{
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
    border-bottom: 1px solid;
    width: 85%;
    margin: auto;
    cursor: pointer;
}

/**
 * 附件上传
 */
#upload_file{
    position: absolute;
    bottom: 23px;
    right: 198px;
    z-index: 5;
    cursor: pointer;
    font-size: 20px;
}
#markdown #file_list{
    border: 1px solid black;
    padding-bottom: 22px;
    max-height: 150px;
    overflow: auto;
}
#file_list .file_items{
    border-bottom: 1px solid;
    width: 93%;
    margin: auto;
}
#file_list .file_items span{
    font-size: 20px;
    display: inline-block;
    padding: 8px 50% 8px 24px;;
}
#input{
    display: none;
}
#upload{
    display: none;
    position: absolute;
    right: 300px;
    bottom: 22px;
    z-index: 6;
}
#pdf{
    height: 100%;
}