body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{
    list-style-type: none;
}
li{
    text-align: center;
    display: inline-block;
}
a{
    text-decoration: none;
}
body{
    font-family: "SimHei","MicroYahei",sans-serif;
    background: url(../images/homepage-background.jpg) no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
html {
    font-size: 16px;
}
.menu-wrapper{
    position: absolute;
    top: 70%;
    right: -6.5rem;
    transform: rotate(-90deg);
    display: inline-block;
}
#frame {
    position: relative;
    width: 54rem;
    margin: auto;
    margin-top: 22%;
}
#frame .head{
    position: relative;
    margin-bottom: 2.2rem;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
}
#frame .head i{
    display: inline-block;
    position: relative;
    top: 0.3rem;
    width: 3.2rem;
    height: 3.2rem;
}
#frame .my_info_icon{
    background: url(../images/user.png) no-repeat center bottom;
}
#frame .create_team_icon{
    background: url(../images/create_team.png) no-repeat center bottom;
}
#frame input[type='text']{
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 20rem;
    text-indent: 0.7rem;
    font-size: 1.5rem;
    font-family: "SimHei","MicroYahei",sans-serif;
}
#my_info,#create_team, #search{
    padding: 1.3rem 2rem 0 3.1rem;
    background-color: rgba(253, 253, 253, 0.45);
    overflow: hidden;
}
#frame .head_img{
    position: relative;
    float: left;
    margin: 0 1rem;
    width: 13rem;
    height: 13rem;
    text-align: center;
    border: 0.3rem solid #51b9f8;
    cursor: pointer;
}
#frame .head_img img{
    width: 100%;
}
#frame .head_img p{
    position: absolute;
    top: 13.5rem;
    left: 1.5rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
#my_info .info{
    margin-left: 16rem;
}
#my_info .info .info_email{
    display: inline-block;
    margin: 0 0 1.2rem 0.7rem;
    font-size: 1.6rem;
    color: #989b9e;
}
.button{
    clear: both;
    border-radius: 0 0 1rem 1rem
}
.name_1{
    display: inline-block;
    width: 12rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;;
}
#my_info .info_space{
    margin-left: 0.8rem;
    width: 32.4rem;
    position: relative;
    padding: 0.1px;
    margin-top: 0.5rem;
    border-bottom: 1px solid white;
}
#weichar{
    position: relative;
    margin: 4.3rem 0 4.3rem 0.8rem;
}
.button{
    position: relative;
    height: 6rem;
}
.button input{
    position: absolute;
    bottom: 1.5rem;
    right: 2.6rem;
    width: 5.8rem;
    height: 2.8rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background-color: #e74600;
    border: 0.2rem solid rgba(236, 236, 236, 0);
    outline: medium;
    cursor: pointer;
}
#weichar .is_weichar_bg{
    position: absolute;
    top: -1rem;
    right: 17.7rem;
    width: 10rem;
    height: 5rem;
    background: url(../images/is_weichar.png) no-repeat top left;
    background-size: contain;
}
#weichar .no_weichar_bg{
    position: absolute;
    top: -3.4rem;
    right: 0;
    width: 20rem;
    height: 10rem;
    background: url(../images/no_weichar.png) no-repeat top left;
    background-size: contain;
}


#create_team .info{
    float: left;
}
#create_team .head_img{
    float: right;
}
#create_team .name_1{
    width: 6rem;
}
#create_team textarea {
    margin: 0.7rem 0 1rem;
    width: 25.9rem;
    height: 16.7rem;
    text-indent: 0.7rem;
    font-size: 1.5rem;
    font-family: "SimHei","MicroYahei",sans-serif;
    resize: none;
    line-height: 2.4rem;
    padding: 0.5rem;
}

#create_team .pt2{
    position: relative;
    bottom: 16.7rem;
}
#create_team input[type='text']{
    width: 26.8rem;
}

/**
 * 查找组织
 */
#find_input .pay_list_c1 {
    display: inline-block;
    width: 1.5rem;
    height: 1.8rem;
    cursor: pointer;
    text-align: center;
    margin-right: -0.5rem;
    background-image: url(../images/inputradio.png);
    background-repeat: no-repeat;
    background-position:-1.5rem 0;
}
#find_input .radioclass {
    opacity: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
#find_input .on {
    background-position: 0rem 0;
}
#find_input label{
    cursor: pointer;
}
#search .search_icon{
    background: url(../images/search.png) no-repeat center bottom;
}
#search{
    padding: 1.3rem 2.3rem 0 2.3rem;
    height: 35rem;
}

#search #find_input{
    position: relative;
    padding: 1.6rem 1.5rem 0.4rem;
    margin-top: -1.5rem;
    border: 0.2rem hsl(0, 17%, 82%);
    border-style: double double none double;
    background-color: white;
}

#search input[type='text']{
    height: 2.5rem;
    width: 33.1rem;
    text-indent: 0.7rem;
    font-size: 1.5rem;
    border: 0.2rem solid #05c8ff;
}
#search #find_result{
    max-height: 22.8rem;
    border: 0.2rem hsl(0, 17%, 82%);
    border-style: double;
    background-color: white;
}
#find_result{
    float: none;
    margin-top: 0;
    overflow: auto;
}
#find_result li{
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    float: none;
    border-bottom: 1px solid black;
    overflow: hidden;
}
#find_result .head_img{
    margin: 0 0 0.4rem;
}
#find_result .head_img{
    width: 7rem;
    height: 7rem;
    cursor: none;
    border-radius: 0.5rem;
}
#find_result .name{
    position: absolute;
    bottom: 0.7rem;
    left: 8.1rem;
    font-size: 1.8rem;
}
#find_input .find_icon{
    display: block;
    position: absolute;
    right: 5.8rem;
    bottom: 1.6rem;
    width: 2.3rem;
    height: 2.8rem;
    background: url(../images/find-white.png) no-repeat center bottom;
    background-size: contain;
    cursor: inherit;
}
#find_result .button{
    position: absolute;
    bottom: -0.9rem;
    right: -2.5rem;
}

/**
 * 导航栏
 */
ul{
    list-style-type: none;
    float: right;
    margin-top: 0.5rem
}
li{
    text-align: center;
    display: inline-block;
}
#nav{
    position: relative;
    width: 90%;
    margin: auto;
    background: url(../images/border-bottom.png) no-repeat center bottom;
    background-size: contain;
}
#nav .logo{
    display: inline-block;
    margin: 1rem 1rem 0.7rem 1.6rem;
    width: 2.7rem;
    height: 2.7rem;
}
#nav .page-logo{
    display: inline-block;
    width: 26rem;
    height: 5.2rem;
    background: url(../images/page.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}
#nav .bell-logo{
    background: url(../images/bell.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#nav .close-logo{
    background: url(../images/close.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#nav .head_img{
    position: relative;
    bottom: 0px;
    border: 0.2rem solid #6c9aa8;
    border-radius: 50%;
    margin: 1rem 1rem 0.7rem 1.6rem;
}
#nav .username{
    position: relative;
    bottom: 1.1rem;
    font-size: 2.6rem;
    color: #6c9aa8;
}

#nav .border-left{
    background: url(../images/border-left.png) no-repeat center left;
    background-size: contain;
}

/**
 *  截图预览框样式
 */
#preview-pane {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;
    background-color: #72818a;
}

#preview-pane .preview-container {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
}

#input_file{
    display: none;
}

/**
 * 选择圆盘
 */
#rotate{
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -27.5rem;
    width: 55rem;
    height: 55rem;
}
#center{
    position: absolute;
    top: 38%;
    left: 38%;
    width: 24%;
    height: 24%;
    z-index: 2;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}
#center img{
    width: 100%;
    height: 100%;
    border: 0.3rem solid white;
    border-radius: 50%;
}
#square-one{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}
#square-one .star{
    width: 13%;
    height: 13%;
}
#square-two{
    position: absolute;
    top: 8%;
    left: 8%;
    width: 84%;
    height: 84%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}
#square-two .star{
    width: 15%;
    height: 15%;
}
#square-three{
    position: absolute;
    top: 19%;
    left: 19%;
    width: 62%;
    height: 62%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}
#square-three .star{
    width: 20.5%;
    height: 20.5%;
}
.star{
    display: none;
    cursor: pointer;
    border: 0.3rem solid white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.run-1-a{
    position: relative;
    top: 19%;
    float: left;

}
.run-1-b{
    position: relative;
    top: 25%;
    right: -4%;
    float: right;
}
.run-1-c{
    position: absolute;
    bottom: -9%;
    left: 43%;
}


.run-2-a{
    position: relative;
    top: 64%;
    left: -3%;
    float: left;
}
.run-2-b{
    position: relative;
    top: -6%;
    right: 45%;
    float: right;

}
.run-2-c{
    position: absolute;
    bottom: 9%;
    right: 7%;
}

.run-3-a{
    position: relative;
    top: 74%;
    left: 9%;
    float: left;
}
.run-3-b{
    position: relative;
    top: -1%;
    left: -61%;
    float: right;
}
.run-3-c{
    position: absolute;
    bottom: 40%;
    right: -7%;
}

.run-1{
    animation: run 150s linear infinite;
    animation-play-state: running;
}
.run-1-son{
    animation: run 150s linear infinite reverse;
    animation-play-state: running;
}
.run-2{
    animation: run 70s linear infinite;
    animation-play-state: running;
}
.run-2-son{
    animation: run 70s linear infinite reverse;
    animation-play-state: running;
}
.run-3{
    animation: run 40s linear infinite;
    animation-play-state: running;
}
.run-3-son{
    animation: run 40s linear infinite reverse;
    animation-play-state: running;
}
@keyframes run{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@media only screen and (min-width: 1000px){
    html{
        font-size: 12px;
    }
    #rotate {
        position: absolute;
        top: 12%;
        left: 50%;
        margin-left: -27.5rem;
        width: 55rem;
        height: 55rem;
    }
    #frame {
        position: relative;
        width: 54rem;
        margin: auto;
        margin-top: 9%;
    }
    .menu-wrapper{
        position: absolute;
        right: -9rem;
        top: 41%;
        transform: rotate(-90deg);
        display: inline-block;
    }
    #find_input .pay_list_c1 {
        background-position: -1.9rem 0;
    }
    #find_input .on {
        background-position: 0rem 0;
    }
}