body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "SimHei","MicroYahei",sans-serif;
    background: url(../images/homepage-background.jpg) no-repeat; 
    background-size: cover;
    background-attachment:fixed;
}

/**
 * 导航栏
 */
    ul{
        list-style-type: none;
        float: right;
        margin-top: 5px
    }
    li{
        text-align: center;
        display: inline-block;
    }
    #nav{
        position: relative;
        height: 58px;
        background-color: white;
    }
    #nav .logo{
        display: inline-block;
        margin: 10px 10px 10px 16px;
        width: 27px;
        height: 27px;
    }
    #nav .page-logo{
        display: inline-block;
        width: 305px;
        height: 58px;
        background: url(../images/pagelogo2.png) no-repeat;
        background-size: 273px;
        background-position-x: 17px;
        cursor: pointer;
        background-color: #2283c8;
    }
    #nav .bell-logo{
        background: url(../images/bell.png) no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }
    #nav .close-logo{
        background: url(../images/close.png) no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }
    #nav .back-logo{
        background: url(../images/back.png) no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }
    #nav .head_img{
        border: 2px solid #6c9aa8;
        border-radius: 50%;
    }
    #nav .username{
        position: relative;
        margin-right: -11px;
        bottom: 4px;
        font-size: 25px;
        color: #6c9aa8;
    }
    #nav .at{
        position: relative;
        top: -10px;
    }
    
    #nav .border-left{
        background: url(../images/border-left2.png) no-repeat center left;
        background-size: 5px;
    }

/**
 * 时间轴的
 */
    /**
     * tree
     */
        #tree .tree{
            position: relative;
            margin-bottom: 49px;
            margin-left: 45%;
            width: 40%;
            padding: 0.1px 0.1px 45px;
            border-left: 10px solid #fbfbfb;
        }
        #tree .inform{
            position: relative;
            left: 28px;
            margin: 30px;
            padding: 0.1px;
            width: 240px;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
        }
        #tree .inform .title{
            position: relative;
            font-size: 29px;
            font-weight: bold;
            text-indent: 5px;
            color: #464647;
            background: url(../images/inform.png) no-repeat;
            background-size: 29px;
            background-position: right;
            z-index: 1;
        }
        #tree .inform .info{
            margin: 9px 13px;
            font-size: 19px;
            color: white;
        }
        #tree .inform .lietTop{
            position: absolute;
            top: 0px;
            left: -75px;
            width: 274px;
            height: 34px;
            background: url(../images/orange-top.png) no-repeat;
            background-size: contain;
        }
        #tree .inform .rightBottom{
            position: absolute;
            bottom: -2px;
            right: -3px;
            width: 53px;
            height: 21px;
            background: url(../images/orange-rightBottom.png) no-repeat;
            background-size: contain;
        }
        #tree .inform .leftBottom{
            position: absolute;
            bottom: -2px;
            left: -2px;
            width: 53px;
            height: 21px;
            background: url(../images/orange-leftBottom.png) no-repeat;
            background-size: contain;
        }

    /**
     * 
     */
        #tree{
            margin-top: 135px;
        }
        #tree .day{
            position: relative;
            top: -87px;
            margin: 30px -30px -64px;
            width: 50px;
            height: 63px;
            text-align: center;
            cursor: pointer;
            background: url(../images/rhombus.png) no-repeat center center;
            background-size: contain;
        }
        #tree .day .dayTime{
            position: relative;
            top: 19px;
            color: white;
            font-size: 22px;
        }
        #tree .day .month{
            position: absolute;
            top: 11px;
            left: -82px;
            font-size: 34px;
            color: white;
            font-weight: bold;
        }

    /**
     * 
     */
        #tree .quest{
            margin: 30px 0px;
            width: 154px;
            position: relative;
            left: -236px;
            cursor: pointer;
            border-radius: 2px;
        }
        #tree .tip{
            display: inline-block;
            float: left;
            font-size: 25px;
            font-weight: bold;
            color: white;
            padding: 3px;
        }
        #tree .quest .content{
            display: inline-block;
            background-color: white;
            padding: 3px;
            width: 91px;
        }
        #tree .quest .quest_name{
            font-size: 15px;
            font-weight: bold;
        }
        #tree .quest_mark{
            font-size: 11px;
            text-indent: 7px;
        }
        #tree .quest0{
            border: 2px solid #31c531;
            background: #31c531;
        }
        #tree .quest1{
            border: 2px solid #fd6b00;
            background: #fd6b00;
        }
        #tree .rightAngle{
            position: absolute;
            right: -85px;
            bottom: -1px;
            width: 86px;
            height: 39px;
            background-size: contain;
        }
        #tree .quest0 .rightAngle{
            background: url(../images/green-rightAngle.png) no-repeat;
        }
        #tree .quest1 .rightAngle{
            background: url(../images/orange-rightAngle.png) no-repeat;
        }

    /**
     * homework
     */
        #tree .home_work{
            position: relative;
            padding: 0.1px;
            margin: 38px 57px;
            width: 200px;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5)
        }
        #tree .home_title{
            color: white;
            font-size: 29px;
            padding: 3px;
        }
        #tree .home_work .time{
            margin: 0 3px;
            color: white;
            font-weight: bold;
            text-indent: 4px;
        }
        #tree .home_work .number{
            position: absolute;
            top: 3px;
            right: 4px;
            color: white;
            font-size: 13px;
        }
        #tree .home_work .lietTop{
            position: absolute;
            top: -2px;
            left: -74px;
            width: 124px;
            height: 49px;
            background-size: contain;
        }
        #tree .home_work .rightBottom{
            position: absolute;
            right: -2px;
            bottom: -3px;
            width: 53px;
            height: 21px;
            background-size: contain;
        }
        #tree .home_work i{
            margin-top: 2px;
            display: inline-block;
            background-position: right;
            background-size: contain;
            width: 15px;
            height: 17px;
            float: right;
        }
        #tree .home_work .info{
            margin: 2px 3px 3px;
            padding: 3px;
            height: 52px;
            font-size: 14px;
            text-indent: 8px;
            line-height: 19px;
            background-color: rgba(253,253,253,0.5);
        }
        #tree .home_work10 .time{
            background-color: #b63637;
        }
        #tree .home_work10 i{
            background: url(../images/wrong.png) no-repeat;
        }
        #tree .home_work10 .lietTop{
            background: url(../images/red-leftTop.png) no-repeat;
        }
        #tree .home_work10 .rightBottom{
            background: url(../images/red-rightBottom.png) no-repeat;
        }

        #tree .home_work01 .time{
            background-color: #3e87d4;
        }
        #tree .home_work01 i{
            background: url(../images/right.png) no-repeat;
        }
        #tree .home_work01 .lietTop{
            background: url(../images/blue-leftTop.png) no-repeat;
        }
        #tree .home_work01 .rightBottom{
            background: url(../images/blue-rightBottom.png) no-repeat;
        }

        #tree .home_work00 .time{
            background-color: #eabb45;
        }
        #tree .home_work00 i{
            background: url(../images/round.png) no-repeat;
        }
        #tree .home_work00 .lietTop{
            background: url(../images/yellow-leftTop.png) no-repeat;
        }
        #tree .home_work00 .rightBottom{
            background: url(../images/yellow-rightBottom.png) no-repeat;
        }

    /**
     * 
     */
        #goTop{
            position: fixed;
            right: 406px;
            bottom: 30px;
            width: 60px;
            height: 66px;
            cursor: pointer;
            font-size: 100px;
            background: url(../images/goTop.png) no-repeat;
            background-size: contain;
        }